<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.petshopx">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetShop"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDxcO5qxrrpChBqbT8rik-tAVJDdlNo4JU" />

        <activity
            android:name=".activity.comum.MapsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.cliente.MapaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.comum.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.comum.MinhaContaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.cliente.MinhasReservasActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.cliente.MeusPetsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.cliente.MeuHistoricoReservasActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.cliente.FormReservaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.cliente.FormAdicionarPet"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.cliente.DetalhesPetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.cliente.ClienteMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.autenticacao.RecuperarContaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.autenticacao.CriarContaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.administrador.TodasHistoricoReservaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.administrador.TodasASReservasActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.administrador.MeusServicosActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.administrador.FormServicoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.administrador.EditarStatusReservaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.administrador.DetalhesServicoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.administrador.AdministradorMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.autenticacao.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>