<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.petshopx">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetShop"
        tools:targetApi="31">
        <activity
            android:name=".activity.comum.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.comum.MinhaContaActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.cliente.MinhasReservasActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.cliente.MeusPetsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.cliente.MeuHistoricoReservasActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.cliente.FormReservaActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.cliente.FormAdicionarPet"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.cliente.DetalhesPetActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.cliente.ClienteMainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.autenticacao.RecuperarContaActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.autenticacao.CriarContaActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.administrador.TodasHistoricoReservaActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.administrador.TodasASReservasActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.administrador.MeusServicosActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.administrador.FormServicoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.administrador.EditarStatusReservaActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.administrador.DetalhesServicoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.administrador.AdministradorMainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.autenticacao.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="false">
        </activity>
    </application>

</manifest>